<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h3>Search Location Weather:</h3>
      <form (ngSubmit)="onSubmitted()" [formGroup]="searchForm">
        <input
          class="form-control"
          type="text"
          placeholder="City"
          formControlName="inputCity">
        <h1></h1>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!searchForm.valid">
            Search Weather
        </button>
      </form>
    </div>
    <div class="col-md-6 text-center">
      <h3>Weather Details:</h3>
      <div class="text-left" *ngIf="submitted">
        <p>Current temperature: {{ temperature + '°C'}}</p>
        <p>Current weather description: {{ description | uppercase }} </p>
        <p>Current location co-ordinates: {{ '[' + latitude + ', ' + longitude + ']' }}</p>
        <p>Searched location: {{ city + ', ' + country }}</p>
      </div>
    </div>
  </div>
</div>
